@import url('https://fonts.googleapis.com/css2?family=Mr+De+Haviland&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html,
body{
    background-color:rgb(228, 228, 228);
    font-size: 110%;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
}
main{
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
}
#canvas{ 
    position: absolute;
    width: 200px;
    height: 300px;
}
.LeftDivNav{
    color: #ffc62d;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
}
.LeftDivNav:hover{
    outline-offset: 1px;
    outline-style: solid;
    outline-color: rgb(255, 255, 255);
    outline-width: 2px;
}
.logo{
    width: 50px;
    height: auto;
}
.Head{
    z-index: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 100%;
    min-width: 700px;
    height: 60px;
    background-color: #1c2837;
    padding: 10px;
}

.Neck{
    justify-content: flex-start;
    column-gap: 2%;
    height: 40px;
    background-color: #2d4059;
}
.Neck div{
    height: 100%;
    align-items: center;
    color: white;
    cursor: pointer;
    text-shadow: 3px 3px #1c2837;
}
.Neck div:hover{
    align-items: center;
    color: white;
    cursor: pointer;
    outline-offset: 1px;
    outline-style: solid;
    outline-color: rgb(255, 255, 255);
    outline-width: 2px;

}

.Tittle{
    z-index: 1;
    font-size: 200%;
    letter-spacing: 2px;
    font-family: 'Mr De Haviland', cursive;
}
.MiddleDivNav{
    width: 50%;
}

.Menu{
    display: flex;
    gap: 10px;
    align-items: center;
    color: white;
    cursor: pointer;
}
.Promo{
    
    font-size: larger;
    color: #FFF;
    font-family:Georgia, 'Times New Roman', Times, serif
}
.RightDivNav{
    display: flex;
    gap: 10px;
    align-items: center;
    height: 100%;
    color: white;
    
}
.RightDivNav:hover{
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    color: white;
    text-justify: distribute-all-lines;
    outline-offset: 1px;
    outline-style: solid;
    outline-color: rgb(255, 255, 255);
    outline-width: 2px;
}
.search{
    padding: 8px;
    border-style:solid;
    align-self: center;
    border-radius: 5px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-color: white;
    height: 40px;
    min-width: 300px;
    width: 100%;
    font-size: large;
}
.search-icon{ 
    display: flex;
    align-items: center;
    justify-content: center;
    border-style:solid;
    align-self: center;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #ffd460;
    border-color: #ffd460;
    height: 40px;
    width: 40px;
}



.search-icon:hover{ 
    background-color: #ffbb00;
    border-color: #ffbb00;
    cursor: pointer;
}
.search-container{
    display: flex;
}
.courossel{
   
    

}
.stickerPlace{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
    padding-left: 5%;
    padding-right: 5%;
    gap: 10px;
    overflow-y: hidden;
}
.sticker{
    width: 150px;
    height: 150px;
    position: relative;
    text-align: center;
    cursor: pointer;
    
}
.sticker:hover img{
    border-radius: 80px;
}
.sticker:hover span{
    font-size: 0%;
    bottom: 150px;
}

.sticker img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 12px;
    transition: all 0.3s ease 0s;
}

.sticker span{
    font-size: 80%;
    position: absolute;
    left: 10%;
    right: 10%;
    bottom: 5px;
    background-color: white;
    border-radius: 100px;
    padding: 0.1em 0.01em;
    transition: all 0.3s ease 0s;
}
.arrow{
	width: 30px;
	height: 30px;
	transform: rotate(45deg);
	border-width: .8vmin .8vmin 0 0;
	border-style: solid;
	border-color: #ff0000;
	transition: .2s ease;
    z-index: 12;
}

.img{
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: auto;
}

.tittle2{
    
}

.newsPlace{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(290px,1fr));
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    gap: 15px;
    overflow-y: hidden;
}

.bookHolder{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 20px;
    width: 300px;
    height: 500px;
}
.tittleBook{
    cursor: pointer;
    padding-top: 10px;
}

.price{
    padding-top: 15px;
}

.bookHolder button{
    justify-self: start;
}

.bookIlustration{
    display: flex;
    justify-content: center;
    min-height: 300px;
    max-width: 300px;
    max-height: 300px;
}
/* buy button */
.buyer {
    border: none;
    background: none;
    border-radius: 15px;
    border: 2px solid rgb(0, 0, 0);
    padding: 0.5em 0.0em;
}

.buyer span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 15px;
    padding-right: 15px;
    text-transform: uppercase;
    transition: all 0.3s ease;
    cursor: pointer;
}

.buyer:hover span {
    letter-spacing: 8px;
}
.buyer:active span {
    font-size: 14px;
    width: 800;
}

.buyer svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
}
.buyer:hover svg {
    transform: translateX(0);
    text-shadow: #ffbb00;
}
.buyer:active svg {
    transform: scale(0.7);
}
/* buy button */
.or {
  color: orange;
}